@import "../../styles/Variable.scss";

.barChartBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap:10px;
    .title{
        font-weight: bold;
    }
    .chartView{
        width:100%;
        height: 100%;
    }
}