@import "../../styles/responsive.scss";
.DataTable {
  background-color: white;
  padding: 5px;
  @include lg {
    font-size: 12px;
  }
  .MuiDataGrid-toolbarContainer {
    flex-direction: row-reverse;
  }
  img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    .view {
      img {
        height: 24px;
        width: 24px;
      }
    }
    .delete {
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
