@import "../../styles/Variable.scss";
@import "../../styles/responsive.scss";

.user {
  display: flex;
  height: 100%;
  @include md{
    flex-direction: column ;
    gap: 30px;
  }

  .userData {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include md{
      gap: 30px;
    }

    .userInfo {
      display: flex;
      flex-direction: column;
      gap: 40px;
      .heading {
        display: flex;
        gap: 20px;
        align-items: center;
        @include md{
          font-size:medium;
        }

        img {
          height: 60px;
          width: 60px;
          object-fit: cover;
          border-radius: 10px;
        }
        button {
          all: unset;
          border: 1px solid $main-color;
          background-color: rgba(248, 74, 74, 0.815);
          padding: 5px 10px;
          border-radius: 5px;
          &:hover {
            border: 4px solid $main-color;
            background-color: $soft-color;
            color: $main-bg;
          }
        }
      }

      .data {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .item {
          display: flex;
          gap: 20px;
          font-size: larger;
          @include md{
            font-size: medium;
          }
          .label {
            text-transform: capitalize;
            font-weight: 500;
          }
          .value {
            color: $soft-color;
          }
        }
      }
    }
    .divider {
      border-top: 2px solid $soft-bg;
    }
    .userChart {
      width: 100%;
      height: 400px;
      @include md{
        height: 250px;
        width: 90%;
      }
    }
  }
  .activity {
    flex: 1;
    padding-left: 10%;

    h2 {
      margin-bottom: 20px;
      font-size: 40px;
      @include md{
        font-size:x-large;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      li {
        list-style-type: none;
        position: relative;
        width: 1px;
        padding-top: 50px;
        background-color: rgba(248, 74, 74, 0.72);
        @include md{
          padding-top: 20px;
        }

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #f45b69;
          transform: translate(-50%);
        }
        div {
          min-width: 480px;
          padding: 15px;
          background-color: #f45b6833;
          display: flex;
          flex-direction: column;
          @include md{
            min-width: 300px;
            padding: 10px;
          }

          .text {
            margin-bottom: 5px;
            @include md{
              font-size: small;
            }
          }
          .time {
            font-size: 12px;
          }
        }
      }
    }
  }
}
